<!-- Footer -->
<footer class="text-center text-white" style="background-color: #0a4275;">
    <div class="container p-4 pb-0">
      <section>
        <p class="d-flex justify-content-center align-items-center">
            <div class="icon">
                <i class="fa fa-user" style="font-size:36px"></i>Total users&nbsp; &nbsp;{{users}}&nbsp; &nbsp; &nbsp;
                <i class='fa fa-pinterest-square' style="font-size:36px"></i> Total Product &nbsp; &nbsp;{{product}}&nbsp; &nbsp; &nbsp;
                <i class="fa fa-commenting"  style="font-size:36px" ></i> Total review &nbsp; &nbsp;{{review}}
            </div>
      </section>
    </div>
</footer>




 